<div *ngIf="showTopMessage">

  <div *ngIf="typeMessage !== 'success'" class="alert alert-warning" role="alert">
    <strong>ATENÇÃO:</strong>
    O arquivo deve ter exatamente o nome:
    <strong>{{ fileName }}</strong>
  </div>
</div>

<div *ngIf="message.length">
  <div *ngFor="let msg of message; let i = index">
    <div *ngIf="typeMessage === 'success'" class="alert alert-success" role="alert">
      {{ msg }}
    </div>
    <div *ngIf="typeMessage === 'danger'" class="alert alert-danger" role="alert">
      {{ msg }}
    </div>
  </div>
</div>

<div *ngFor="let progressInfo of progressInfos">
  <span>{{ progressInfo.fileName }}</span>
  <mat-toolbar class="progress-bar">
    <mat-progress-bar
      color="primary"
      [value]="progressInfo.value"
    ></mat-progress-bar>
    
  </mat-toolbar>
</div>

<div class="row mt-3">
  <div class="row btns">
    <mat-form-field appearance="fill">
      <div>
        <input
          matInput
          [value]="selectedFileNames.length ? selectedFileNames : 'Selecionar Arquivo'"
        />
        <input
          type="file"
          id="fileInput"
          name="fileInput"
          accept="image/*, application/pdf"
          multiple
          (change)="selectFiles($event)"
        />
      </div>
    </mat-form-field>
  </div>
    <div class="row btns">
      <button
        mat-flat-button
        color="third"
        [disabled]="!selectedFiles"
        (click)="uploadFiles()"
        >
        Anexar Arquivo
      </button>
    </div>
  <div class="row mt-2 btns">
    <button mat-flat-button color="primary" (click)="deleteImagens()">
      Limpar
    </button>
  </div>
  
  <div class="mt-4" *ngIf="isImageType">
    <img *ngFor="let preview of previews" [src]="preview" class="preview" />
  </div>
  
</div>
  

