<div class="page-container">
  <div class="card-body">
    <button
      class="header-button"
      mat-raised-button
      color="primary"
      routerLink="/juridico/processos"
    >
      <mat-icon>arrow_circle_left</mat-icon>
      Voltar
    </button>
    <h5 class="header-title">Detalhe de Processo</h5>
    <h6 class="header-subtitle mb-1">
      Página de detalhes do Processo 
    </h6>
  </div>

    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6 mt-2">
        <mat-card>
          <mat-card-content>
            <ul class="list-processo">
              <li class="title-inner-card">Processo Número:</li>
              <li class="text-blue">{{processo?.numero}}</li>
            </ul> 
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6 mt-2">
        <mat-card>
          <mat-card-content>
            <ul class="list-processo">
              <li class="title-inner-card">Valor do Processo:</li>
              <li class="text-green">{{processo?.valor | currency : 'BRL'}}</li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6 mt-2">
        <mat-card>
          <mat-card-content>
            <div class="row">
              <div class="col-sm-12 col-md-4 col-lg-4 card-processo">
                <ul class="list-processo">
                  <li><mat-icon class="icon-color">accessibility</mat-icon></li>
                  <li class="title-inner-card">Exequente</li>
                  <li>{{processo?.exequente}}</li>
                </ul> 
              </div>
              <div class="col-sm-12 col-md-4 col-lg-4 card-processo">
                <ul class="list-processo">
                  <li><mat-icon class="icon-color">directions_run</mat-icon></li>
                  <li class="title-inner-card">Executado</li>
                  <li>{{processo?.executado}}</li>
                </ul> 
              </div>
               <div class="col-sm-12 col-md-4 col-lg-4 card-processo">
                <ul class="list-processo">
                  <li><mat-icon class="icon-color">summarize</mat-icon></li>
                  <li class="title-inner-card">Assunto</li>
                  <li>{{processo?.assunto}}</li>
                </ul> 
              </div>
            </div>
      
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-6 mt-2">
        <mat-card>
          <mat-card-content>
            <div class="row">
              <div class="col-sm-12 col-md-6 col-lg-6 card-processo">
                <ul class="list-processo">
                  <li><mat-icon class="icon-color">account_balance</mat-icon></li>
                  <li class="title-inner-card">Juizo</li>
                  <li>{{processo?.juizo}}</li>
                </ul> 
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 card-processo">
                <ul class="list-processo">
                  <li><mat-icon class="icon-color">perm_contact_calendar</mat-icon></li>
                  <li class="title-inner-card">Juiz</li>
                  <li>{{processo?.juiz}}</li>
                </ul> 
              </div>

            </div>
      
          </mat-card-content>
        </mat-card>
      </div>
  </div>
  <div class="alert alert-warning mt-3" *ngIf="!carregando && processo.eventos.length == 0">
    <i class="fa-regular fa-circle-xmark"></i>
    <div class="icon hidden-xs">
      <i class="fa fa-exclamation-circle"></i>
    </div>
    <strong>Opps!</strong>
    <Br /> Nenhum registro associado a este processo
  </div>

  <mat-card class="mb-3 mt-3">
    <mat-card-content class="toolbar-card-content">
      <div class="row mt-2">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <mat-form-field>
            <input matInput autocomplete="off" (keyup)="filterData($event)"  placeholder="Busca" type="search" />
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <button
            *ngIf="perfil !== 'SINDICALIZADO'"  
            class="header-button" 
            mat-raised-button
            color="primary"
            routerLink="/juridico/eventos/novo"
          >
            <mat-icon>add_circle_outline</mat-icon>
            Incluir Evento
          </button>
      </div>

      </div>

    </mat-card-content>
  </mat-card>

  <div class="table-container mb-5">

    <div class="table-container" *ngIf="totalElements > 0">
      <table mat-table 
            [dataSource]="datasource" 
            matSort (matSortChange)="listarEventos($event)"
            class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por Id">#</th>
          <td mat-cell *matCellDef="let evento">{{ evento.id }}</td>
        </ng-container>
  
        <ng-container matColumnDef="data">
          <th mat-header-cell *matHeaderCellDef mat-sort-header >Data</th>
          <td mat-cell *matCellDef="let evento">
            {{ evento.data | date: 'dd/MM/yyyy' }}
          </td>
        </ng-container>
  
        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef mat-sort-header >Evento</th>
          <td mat-cell *matCellDef="let evento">
            {{ evento.nome }}
          </td>
        </ng-container>
  
        <ng-container matColumnDef="descricao">
          <th mat-header-cell *matHeaderCellDef mat-sort-header >Descrição</th>
          <td mat-cell *matCellDef="let evento">
            {{ evento.descricao }}
          </td>
        </ng-container>
  
        <ng-container matColumnDef="fileUrl">
          <th mat-header-cell *matHeaderCellDef >Arquivo</th>
          <td mat-cell *matCellDef="let evento">
            <span *ngIf="evento.fileUrl">
              <a href="{{ evento.fileUrl }}">
                <span class="material-icons">picture_as_pdf</span>
              </a>
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell class="header-last-column" *matHeaderCellDef></th>
          <td mat-cell class="last-column" *matCellDef="let evento">
            <button *ngIf="perfil !== 'SINDICALIZADO'" (click)="onEdit(evento)" mat-icon-button color="primary" aria-label="Editar Evento">
              <mat-icon>edit</mat-icon>
            </button>
            <button *ngIf="perfil !== 'SINDICALIZADO'" (click)="onDelete(evento)" mat-icon-button color="accent" aria-label="Excluir Evento">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator 
          [length]="totalElements"
          [showFirstLastButtons]="showFirstLastButtons"
          [pageSize]="5"
          [pageSizeOptions]="[5, 10, 25, 100]"
          (page)="nextPage($event)"
          >
      </mat-paginator>
  
    </div>
    
      <div *ngIf="carregando" class="spinner">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
    
    
  </div>
  
</div>


