table {
    width: 100%;
}

.card-body {
    display: block;
    align-content: space-between;
}


.header-button {
    display: flex;
    font-family: 'Roboto';
    font-weight: 300;
    float: right;
}

.toolbar-actions-buttons {
    font-size: 10px;
    display: flex;
    font-family: 'Roboto';
    font-weight: 300;
    float: right;
    margin-left: 10px;

}

.toolbar-card-content {
    display: inline-flexbox;

}

.header-title {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    color: #303c54;
}
.title-icon {
    margin-top: 5px;
}
.header-toolbar {
    background-color: #fff;
}

.header-subtitle {
    font-family: Roboto;
    font-weight: 300;
    font-size: 12px;
    color: #303c54;
}

.header-last-column {
    text-align: right;
    justify-content: flex-end;
}

.last-column {
    text-align: right;
    justify-content: flex-end;
}

.card-title {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    color: #303c54;
    margin-left: 30px;
    margin-top: -30px;
}
.card-title-icon {
    color: #303c54;
}

.mat-card {
    padding-top: 8px;
    padding-bottom: 8px;
}

.mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary {
    color: #73cd74;
  }
  
.field-arquivo {
    width: 99%;
    padding-left: 10px;
}

.field-data {
    width: 49%;
    padding-left: 10px;
}

.field-desc {
    width: 49%;
    padding-left: 10px;
}

.file-input {
    display: none;
}

.mat-form-field {
    width: 100%;
}

.card-processo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-processo {
    text-align: center;
    list-style-type: none;
    list-style: none;
}
.title-inner-card {
    font-size: 12px;
    color: #676768;
}
.text-green {
    color: #73cd74;
    font-size: larger;
    font-weight: 500;
}

.text-blue {
    color: #4449a3;
    font-size: larger;
    font-weight: 500;
}

.icon-color {
    color: #676768
}

/*alert styling*/
.alert-success {
    border-color: #e6e6e6;
    border-left: 5px solid #00986a;
    background-color: #fff;
    color: #888;
  }
  
  .alert-info {
    border-color: #e6e6e6;
    border-left: 5px solid #00b3c8;
    background-color: #fff;
    color: #888;
  }
  
  .alert-warning {
    border-color: #e6e6e6;
    border-left: 5px solid #f9af2c;
    background-color: #fff;
    color: #888;
  }
  
  .alert-danger {
    border-color: #e6e6e6;
    border-left: 5px solid #c82630;
    background-color: #fff;
    color: #888;
  }
  
  @media (min-width: 768px) {
    .alert {
      border-radius: 6px;
      display: table;
      width: 100%;
      padding-left: 78px;
      position: relative;
      padding-right: 60px;
      border: 1px solid #e6e6e6;
    }
  
    .alert .close {
      color: #888;
      opacity: 1;
      float: none;
      position: absolute;
      right: 18px;
      top: 50%;
      margin-top: -12px;
      font-size: 25px;
    }
  
    .alert .icon {
      text-align: center;
      width: 58px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border: 1px solid #bdbdbd;
      padding-top: 15px;
      border-radius: 6px 0 0 6px;
    }
  
    .alert .icon i {
      font-size: 20px;
      color: #fff;
      left: 21px;
      margin-top: -10px;
      position: absolute;
      top: 50%;
    }
  
    .alert .icon img {
      font-size: 20px;
      color: #fff;
      left: 18px;
      margin-top: -10px;
      position: absolute;
      top: 50%;
    }
    /*============ colors ========*/
    .alert.alert-success .icon,
    .alert.alert-success .icon:after {
      border-color: none;
      background: #00986a;
    }
  
    .alert.alert-info .icon,
    .alert.alert-info .icon:after {
      border-color: none;
      background: #00b3c8;
    }
  
    .alert.alert-warning .icon,
    .alert.alert-warning .icon:after {
      border: none;
      background: #f9af2c;
    }
  
    .alert.alert-danger .icon,
    .alert.alert-danger .icon:after {
      border-color: none;
      background: #c82630;
    }
  }

.table {
  width: 100%;
}

th { 
  background-color: white; 
  border: solid 0px #777; 
  padding: 5px; 
  height: 60px;  
  padding: 10px 10px 10px 30px; 
  font-weight: 500;
}

.tb td { 
  border: solid 0px #777; 
  padding: 5px;  
}

.tbody { 
  background: #f6f8ff;
  font-family: Roboto;
  font-weight: 600;
  font-size: 12px;
  color: #3c4b64;
}

