<div class="page-container mb-5">
  <div class="card-body">
    <button
      class="header-button"
      mat-raised-button
      color="primary"
      (click)="addBalanco()"
    >
      <mat-icon>add_circle_outline</mat-icon>
      Novo Balanço
    </button>
    <h5 class="header-title">Balanços</h5>
    <h6 class="header-subtitle mb-1">Lista de registros de Balanços</h6>
  </div>
   <!-- Inicio do Card de busca -->
  <mat-card class="mb-3 mt-3">
    <mat-card-content class="toolbar-card-content">
      <div class="row mt-2">
        <div class="col col-lg-8 col-md-6 col-sm-12">
          <mat-form-field>
            <input matInput autocomplete="off" (keyup)="filterData($event)" placeholder="Busca" type="search" />
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
        
      </div>

    </mat-card-content>
  </mat-card>
  <div class="alert alert-warning" *ngIf="!carregando && totalElements == 0">
    <i class="fa-regular fa-circle-xmark"></i>
    <div class="icon hidden-xs">
      <i class="fa fa-exclamation-circle"></i>
    </div>
    <strong>Opps!</strong>
    <Br /> Nenhum registro encontrado para sua busca
  </div>
  <!-- Fim do Card de busca -->
  <div class="table-container" *ngIf="totalElements > 0">
    <table mat-table 
          [dataSource]="datasource" 
          matSort (matSortChange)="listarBalancos($event)"
          class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por Id">#</th>
        <td mat-cell *matCellDef="let balanco">{{ balanco.id }}</td>
      </ng-container>

      <ng-container matColumnDef="ano">
        <th mat-header-cell *matHeaderCellDef mat-sort-header >Ano</th>
        <td mat-cell *matCellDef="let balanco">
          {{ balanco.ano }}
        </td>
      </ng-container>
      <ng-container matColumnDef="mes">
        <th mat-header-cell *matHeaderCellDef mat-sort-header >Mês</th>
        <td mat-cell *matCellDef="let balanco">
          {{ balanco.mes }}
        </td>
      </ng-container>

      <ng-container matColumnDef="fileUrl">
        <th mat-header-cell *matHeaderCellDef >Arquivo</th>
        <td mat-cell *matCellDef="let balanco">
          <span *ngIf="balanco.fileUrl && balanco.fileUrl !== this.s3Url + 'undefined.pdf'">
            <a href="{{ balanco.fileUrl }}">
              <span class="material-icons">picture_as_pdf</span>
            </a>
          </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell class="header-last-column" *matHeaderCellDef></th>
        <td mat-cell class="last-column" *matCellDef="let balanco">
          <button (click)="onEdit(balanco)" mat-icon-button color="primary" aria-label="Editar Balanço">
            <mat-icon>edit</mat-icon>
          </button>
          <button (click)="onDelete(balanco)" mat-icon-button color="accent" aria-label="Excluir Balanço">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator 
        [length]="totalElements"
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 25, 100]"
        (page)="nextPage($event)"
        >
    </mat-paginator>

  </div>
  
    <div *ngIf="carregando" class="spinner">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  
</div>
