<div class="page-container mb-5">
  <div class="card-body">
    <button *ngIf="perfil !== 'SINDICALIZADO' "
      class="header-button"
      mat-raised-button
      color="primary"
      (click)="addLancamento()"
    >
      <mat-icon>add_circle_outline</mat-icon>
      Novo Lançamento
    </button>   
    <h5 class="header-title">Lançamentos - {{ tipoLancamentoPage === 'receitas' ? 'Receitas' : 'Despesas' }}</h5>
    <h6 class="header-subtitle mb-1">Lista de registros de lançamentos do tipo {{ tipoLancamentoPage === 'receitas' ? 'receitas' : 'despesas' }}</h6>
  </div>

  <app-busca (searchParams)="onSearchCriteria($event)" (resetParams)="onResetParams($event)" [tipoLancamento]="tipoLanc" ></app-busca>

  <div *ngIf="showTopMessage">
    <div *ngIf="typeMessage === 'warning'" class="alert custom-warning alert-warning alert-dismissible d-flex align-items-center fade show" role="alert">
      <i class="fa-regular fa-circle-xmark"></i>
      <div class="icon hidden-xs">
        <i class="fa fa-exclamation-circle"></i>
      </div>
      <Br /> {{message}}
    </div>
    <div *ngIf="typeMessage === 'success'" class="alert custom-success alert-success alert-dismissible d-flex align-items-center fade show" role="alert">
      <i class="fa-regular fa-circle-xmark"></i>
      <div class="icon hidden-xs">
        <i class="fa fa-check-circle"></i>
      </div>
      <Br /> {{message}}
    </div>
  </div>


  <div class="table-container" *ngIf="totalElements > 0">
    <table mat-table
          [dataSource]="datasource" 
          matSort (matSortChange)="listarLancamentos($event)"
          class="mat-elevation-z8">

      <ng-container matColumnDef="fileUrl">
        <th mat-header-cell *matHeaderCellDef ></th>
        <td mat-cell *matCellDef="let lancamento">
          <span class="iconimage" *ngIf="!lancamento.fileUrl">
            <button
              mat-icon-button 
              color="primary" 
              aria-label="Não disponível"
            >
              <mat-icon>image_not_supported</mat-icon>
            </button>
        </span>
          <span class="iconimage" *ngIf="lancamento.fileUrl">
              <button
                mat-icon-button 
                color="primary" 
                aria-label="Ver Arquivo"
                (click)="onClick(lancamento)"
                class="modal-hover-opacity"
                data-toggle="modal" data-target="#imageModal"
              >
                <mat-icon>image</mat-icon>
              </button>
          </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por Id"></th>
        <td mat-cell *matCellDef="let lancamento">
          <div class="cellid">{{ lancamento.id }}</div>
          <div class="celldate">{{ lancamento.dataLancamento | date: 'dd/MM/yyyy' }}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="planoConta">
        <th mat-header-cell *matHeaderCellDef mat-sort-header >Conta</th>
        <td mat-cell *matCellDef="let lancamento">
          <div class="cellplano">{{ lancamento.planoConta }}</div>
        </td>
      </ng-container>


      <ng-container matColumnDef="valor">
        <th mat-header-cell  *matHeaderCellDef mat-sort-header >Valor</th>
        <td mat-cell *matCellDef="let lancamento" >
          <div class="celldvalor">{{ lancamento.valor | currency: 'BRL' }}</div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row (click)="onClick(row)" *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator 
        [length]="totalElements"
        [showFirstLastButtons]="showFirstLastButtons"
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 25, 100]"
        (page)="nextPage($event)"
        >
    </mat-paginator>
  </div>
  
    <div *ngIf="carregando" class="spinner">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  
</div>

<!-- Modal -->
<!--Bootstrap modal -->
<div class="modal fade" tabindex="-1" id="imageModal" role="dialog" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Comprovante do Lançamento de ID: {{imgId}} </h5>
      </div>
      <div class="modal-body">
        <div *ngIf="carregandoImagem" class="spinner">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
        <img src="{{imgSrc}}" width="100%" class="image-modal" />
      </div>
      <div class="modal-footer">
        <a href="{{ imgSrc }}" download>
          <button type="button" class="btn btn-primary">Download</button>
        </a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
      
    </div>
  </div>
</div>