<div class="page-container mb-5">
  <div class="card-body">
    <button *ngIf="perfil !== 'SINDICALIZADO' "
      class="header-button"
      mat-raised-button
      color="primary"
      (click)="addLancamento()"
    >
      <mat-icon>add_circle_outline</mat-icon>
      Novo Lançamento
    </button>
    
    <h5 class="header-title">Lançamentos - {{ tipoLancamentoPage === 'receitas' ? 'Receitas' : 'Despesas' }}</h5>
    <h6 class="header-subtitle mb-1">Lista de registros de lançamentos do tipo {{ tipoLancamentoPage === 'receitas' ? 'receitas' : 'despesas' }}</h6>
  </div>
   <!-- Inicio do Card de busca -->
  <mat-card class="mb-3 mt-3">
    <mat-card-content class="toolbar-card-content">
      <div class="row mt-2">
        <div class="col col-lg-8 col-md-6 col-sm-12">
          <mat-form-field>
            <input matInput autocomplete="off" (keyup)="filterData($event)" placeholder="Busca" type="search" />
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <!-- Fim do Card de busca -->
  <div class="alert alert-warning" *ngIf="!carregando && totalElements == 0">
    <i class="fa-regular fa-circle-xmark"></i>
    <div class="icon hidden-xs">
      <i class="fa fa-exclamation-circle"></i>
    </div>
    <strong>Opps!</strong>
    <Br /> Nenhum registro encontrado para sua busca
  </div>
  <div class="table-container" *ngIf="totalElements > 0">
    <table mat-table
          [dataSource]="datasource" 
          matSort (matSortChange)="listarLancamentos($event)"
          class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por Id">#</th>
        <td mat-cell *matCellDef="let lancamento">{{ lancamento.id }}</td>
      </ng-container>

      <ng-container matColumnDef="dataLancamento">
        <th mat-header-cell *matHeaderCellDef mat-sort-header >Data</th>
        <td mat-cell *matCellDef="let lancamento">
          {{ lancamento.dataLancamento | date: 'dd/MM/yyyy' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="planoConta">
        <th mat-header-cell *matHeaderCellDef mat-sort-header >Conta</th>
        <td mat-cell *matCellDef="let lancamento">
          {{ lancamento.planoConta.nome }}
        </td>
      </ng-container>

      <ng-container matColumnDef="modoPagamento">
        <th mat-header-cell *matHeaderCellDef mat-sort-header >Modo Pagamento</th>
        <td mat-cell *matCellDef="let lancamento">
          {{ lancamento.modoPagamento }}
        </td>
      </ng-container>

      <ng-container matColumnDef="tipoComprovante">
        <th mat-header-cell *matHeaderCellDef mat-sort-header >Tipo de Comprovante</th>
        <td mat-cell *matCellDef="let lancamento">
          {{ lancamento.tipoComprovante }}
        </td>
      </ng-container>

      <ng-container matColumnDef="supCaixa">
        <th mat-header-cell *matHeaderCellDef mat-sort-header >Sup. Caixa?</th>
        <td mat-cell *matCellDef="let lancamento">
          {{ lancamento.supCaixa }}
        </td>
      </ng-container>

      <ng-container matColumnDef="valor">
        <th mat-header-cell  *matHeaderCellDef mat-sort-header >Valor (R$)</th>
        <td mat-cell *matCellDef="let lancamento" >
          {{ lancamento.valor | currency: 'BRL' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="fileUrl">
        <th mat-header-cell *matHeaderCellDef >Arquivo</th>
        <td mat-cell *matCellDef="let lancamento">
          <span *ngIf="lancamento.fileUrl">
            <a href="{{ lancamento.fileUrl }}">
              <img src="{{ lancamento.fileUrl }}" style="max-width:30px;cursor:pointer"
                (click)="onClick(lancamento)"
                class="modal-hover-opacity"
                data-toggle="modal" data-target="#imageModal"
              >
            </a>
          </span>
        </td>
      </ng-container>
      
      <ng-container matColumnDef="actions" >
        <th mat-header-cell class="header-last-column" *matHeaderCellDef></th>
        <td mat-cell class="last-column" *matCellDef="let lancamento" >
          <button *ngIf="perfil !== 'SINDICALIZADO' " (click)="onEdit(lancamento)" mat-icon-button color="primary" aria-label="Editar Lancamento">
            <mat-icon>edit</mat-icon>
          </button>
          <button *ngIf="perfil !== 'SINDICALIZADO' " (click)="onDelete(lancamento)" mat-icon-button color="accent" aria-label="Excluir Lancamento">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator 
        [length]="totalElements"
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 25, 100]"
        (page)="nextPage($event)"
        >
    </mat-paginator>
  </div>
    <div *ngIf="carregando" class="spinner">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  
</div>

<!-- Modal -->
<!--Bootstrap modal -->
<div class="modal fade" tabindex="-1" id="imageModal" role="dialog" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Comprovante do Lançamento de ID: {{imgId}} </h5>
      </div>
      <div class="modal-body">
        <img src="{{imgSrc}}" class="image-modal" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>