<ng-container>

  <c-container [fluid]="true">
    <button
      toggle="visible"
      cHeaderToggler
      [cSidebarToggle]="sidebarId"
      class="ps-1"
    >
      <svg cIcon
        name="cilMenu"
        size="lg"
      ></svg>
    </button>

    <c-header-nav *ngIf="perfil !== 'SINDICALIZADO'" class="d-none d-lg-flex me-auto">
      <c-dropdown alignment="start" variant="nav-item">
        <button
          cButton
          color=""
          [caret]="false"
          cDropdownToggle
          class="py-0"
        >
        <svg cIcon name="cilBell" size="lg"></svg> Acessos
        </button>
        <ul cDropdownMenu class="pt-0 pr-5 w-auto">
          <li>
            <h6 cDropdownHeader class="bg-light fw-semibold py-2">Acessos</h6>
          </li>
          <li>
            <a routerLink="usuarios" cDropdownItem>
              <svg cIcon class="me-2" name="cilUser"></svg>
              Usuários
            </a>
          </li>
        </ul>
      </c-dropdown>
    </c-header-nav>
    
    <c-header-nav class="ms-3">
      <ng-container *ngTemplateOutlet="userDropdown"></ng-container>
    </c-header-nav>

  </c-container>
  <c-header-divider></c-header-divider>
  <c-container [fluid]="true">
    <c-breadcrumb-router class="ms-2"></c-breadcrumb-router>
  </c-container>
</ng-container>
<!--</c-header>-->

<ng-template #userDropdown>
  <c-dropdown alignment="end" variant="nav-item">
    <button
      cButton
      [caret]="false"
      cDropdownToggle
      class="rounded-circle btn-secondary"
    >
      {{ getInitials(userLogged.nome) }}
    </button>
    <ul cDropdownMenu class="pt-0 pr-5 w-auto">
      <li>
        <h6 cDropdownHeader class="bg-light fw-semibold py-2">Minha Conta</h6>
      <li>
        <a routerLink="usuarios/detalhe/{{userLogged.codigo}}" cDropdownItem>
          <svg cIcon class="me-2" name="cilUser"></svg>
          Perfil
        </a>
      </li>
      <li>
        <a routerLink="usuarios/change-password" cDropdownItem>
          <svg cIcon class="me-2" name="cilLockLocked"></svg>
          Alterar Senha
        </a>
      </li>
     
      <li>
        <hr cDropdownDivider/>
      </li>
      <li>
        <a href="javascript:;" (click)="logout()" cDropdownItem>
          <svg cIcon class="me-2" name="cilExitToApp"></svg>
          Sair
        </a>
      </li>
      <li></li>
    </ul>
  </c-dropdown>
</ng-template>

