

<div class="d-lg-flex half">

  <div
      class="bg order-1 order-md-2"
      style="background-image: url('https://www.sindifisco.app.br/assets/images/bg_login.jpg?w=1200&h=-1&s=1');"
    >
  </div>
  <div class="bg order-1 order-md-2 bloco-sombra">
  
    <div class="contents order-2 order-md-1">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-7">
  
            <div class="img-logo">
              <img src="https://www.sindifisco.app.br/assets/img/brand/logo-sindifisco.png" style="width: 80px; margin-top: 10px;" alt="Sindifisco-PA">
            </div>
            <div class="title">Portal Transparência</div>

              <div class="card-body mt-4">  
                <h5 class="header-title">Alterar Senha</h5>

                <div *ngIf="!isSuccess || errorMessage.error" class="alert alert-warning alert-dismissible d-flex align-items-center fade show" role="alert">
                  <i class="fa-regular fa-circle-xmark"></i>
                  <div class="icon hidden-xs">
                    <i class="fa fa-exclamation-circle"></i>
                  </div>
                  <div class="password-patern"> <strong>ATENÇÃO:</strong> A senha deve ter 8 caracteres incluindo "!" ou "@" ou "#", pelo menos um número e pelo menos uma letra maiúscula.</div>
                </div>

                <div *ngIf="isSuccess" class="alert alert-success alert-dismissible d-flex align-items-center fade show" role="alert">
                  <i class="fa-regular fa-circle-xmark"></i>
                  <div class="icon hidden-xs">
                    <i class="fa fa-exclamation-circle"></i>
                  </div>
                  <div class="password-patern"> <strong>SUCESSO:</strong> Redirecionando para página de login...</div>
                </div>



                

              
            <div *ngIf="message !== ''" class="alert alert-danger" role="alert">
              {{ message }}
            </div>
            <div *ngIf="carregando" class="spinner">
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
          <div class="page-container mb-5">

            <div class="mt-3">

                    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
                        <div class="example-container">
                            <mat-form-field appearance="fill">
                            <mat-label for="password">Nova Senha</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" id="password" formControlName="password" required pattern="^(?=.*\d)(?=.*[A-Z])(?=.*[!@#])[a-zA-Z0-9!@#]{8}$">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>

                            <mat-error *ngIf="resetPasswordForm.get('password')?.invalid && resetPasswordForm.get('password')?.touched">
                              Siga o padrão de caracteres para uma senha forte
                            </mat-error>
                            
                            <mat-error *ngIf="resetPasswordForm.get('password')?.hasError('required')">Senha é obrigatória</mat-error>  
                          </mat-form-field>
                        </div>

                        <div class="example-container">
                            <mat-form-field appearance="fill">
                            <mat-label for="confirmPassword">Confirmar Nova Senha</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" name="confirmPassword" formControlName="confirmPassword">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="resetPasswordForm.get('password')?.value !== resetPasswordForm.get('confirmPassword')?.value">As senhas não correspondem.</mat-error>
                           
                            </mat-form-field>
                        </div>


                        <button mat-raised-button class="m-1 btn-block" color="primary" type="submit" [disabled]="!resetPasswordForm.valid">
                            Alterar Senha
                        </button>
                        
                    </form>

                    <div *ngIf="erroToken !== ''" class="mt-4 alert alert-danger alert-dismissible d-flex align-items-center fade show" role="alert">
                      <i class="fa-regular fa-circle-xmark"></i>
                      <div class="icon hidden-xs">
                        <i class="fa fa-exclamation-circle"></i>
                      </div>
                      <div class="password-patern"> <strong>OPSS! </strong>{{erroToken}}</div>
                    </div>

                    <div *ngIf="successMessage !== ''" class="mt-4 alert alert-success alert-dismissible d-flex align-items-center fade show" role="alert">
                      <i class="fa-regular fa-circle-xmark"></i>
                      <div class="icon hidden-xs">
                        <i class="fa fa-exclamation-circle"></i>
                      </div>
                      <div class="password-patern"> <strong>SUCESSO! </strong>{{successMessage}}</div>
                    </div>
                  </div>


                

                
          </div>
        </div>
      </div>
    </div>
    </div>

</div>

