<h2>Reset Password</h2>

<div *ngIf="resetSuccessMessage; else resetForm">
  <p>{{ resetSuccessMessage }}</p>
  <p><a routerLink="/login">Go to Login</a></p>
</div>

<ng-template #resetForm>
  <form (ngSubmit)="resetPassword()">
    <div>
      <label for="token">Token:</label>
      <input type="text" id="token" name="token" [(ngModel)]="token" required>
    </div>
    <div>
      <label for="password">New Password:</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" required>
    </div>
    <button type="submit">Reset Password</button>
  </form>
</ng-template>

<p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
