<div class="d-lg-flex half">

    <div
        class="bg order-1 order-md-2"
        style="background-image: url('https://app-47750.dc-us-1.absamcloud.com/portal-app/assets/images/bg_login.jpg?w=1200&h=-1&s=1');"
      >
    </div>
    
    <div class="bg order-1 order-md-2 bloco-sombra">
  
    <div class="contents order-2 order-md-1">
      <div class="container">
        
        <div class="row align-items-center justify-content-center">
  
          <div class="col-md-7">
  
            <div class="img-logo">
              <img src="https://app-47750.dc-us-1.absamcloud.com/portal-app/assets/img/brand/logo-sindifisco.png" style="width: 80px; margin-top: 10px;" alt="Sindifisco-PA">
            </div>
            <div class="title">Portal Transparência</div>
            <p class="mb-4 text-top">
              Bem-vindo. Aqui você acompanha como suas contribuições são investidas.
            </p>
              
            <div *ngIf="!isValid" class="alert alert-danger" role="alert">
              {{ message }}
            </div>
            <div *ngIf="carregando" class="spinner">
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
  

  
            
  
            <!-- Formulário de Resete -->
            <div class="reset-form">
  
              <p class="mb-3 mt-5 text-top">
                Para resetar sua senha insira o email cadastrado ZX.
              </p>
  
              <form [formGroup]="resetForm" (ngSubmit)="resetPassword()" novalidate>
                <mat-form-field appearance="fill">
                  <mat-label for="email">Email</mat-label>
                  <input matInput formControlName="email" autocomplete="off">
                  <mat-error *ngIf="resetForm.controls['email'].invalid">Email de usuário é obrigatório.</mat-error>
                  <button mat-icon-button matSuffix>
                    <mat-icon>email</mat-icon>
                  </button>
                </mat-form-field>
                <button type="submit" class="btn-block" mat-raised-button color="primary"
                [disabled]="resetForm.invalid || carregando">Resetar Senha</button>
                  <div class="success-msg" *ngIf="carregando">
                    Um email com as instruções para redefinir sua senha foi enviado para o endereço fornecido.
                  </div>
                  <div class="error-msg" *ngIf="errorMsg">
                    {{ errorMsg | json }}
                  </div>
              </form>
  
              <div class="mt-5">
                <a (click)="fazerLogin()">Fazer Login</a>
              </div>
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </div>
  