<div class="mb-3 mt-3">
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
            <mat-panel-title>
                Busca Avançada
            </mat-panel-title>
            </mat-expansion-panel-header>

                <mat-card>
                    <mat-card-content class="toolbar-card-content">
                    <form [formGroup]="searchForm" (ngSubmit)="search()" >
                        <div class="row">
                            <div class="col col-sm-12 col-md-1 col-lg-1">
                                    <mat-form-field appearance="fill">
                                    <mat-label>ID</mat-label>
                                    <input
                                        matInput
                                        placeholder="ID"
                                        formControlName="id"
                                    />
                                    </mat-form-field>
                            </div>

                            <div class="col col-sm-12 col-md-2 col-lg-2">
                                <mat-form-field appearance="fill">
                                <mat-label>Modo de Pagamento</mat-label>
                                <mat-select
                                    placeholder="Selecione uma opção"
                                    formControlName="modoPagamento"
                                >
                                    <mat-option
                                    *ngFor="let option of modosPagamentos"
                                    [value]="option.nome"
                                    >
                                    {{ option.nome }}
                                    </mat-option>
                                </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col col-sm-12 col-md-2 col-lg-2">
                                <mat-form-field appearance="fill">
                                <mat-label>Tipo Comprovante</mat-label>
                                <mat-select
                                    placeholder="Selecione uma opção"
                                    formControlName="tipoComprovante"
                                >
                                    <mat-option
                                    *ngFor="let option of tiposComprovantes"
                                    [value]="option.nome"
                                    >
                                    {{ option.nome }}
                                    </mat-option>
                                </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col col-sm-12 col-md-3 col-lg-3">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Conta</mat-label>
                                        <input type="text"
                                            placeholder="Escolha uma opção"
                                            matInput
                                            formControlName="planoConta"
                                            [matAutocomplete]="auto">
                                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                                        <mat-option *ngFor="let conta of filteredOptions | async" [value]="conta">
                                            {{conta.descricao}}
                                        </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                            </div>

                            <div class="col col-sm-12 col-md-2 col-lg-2">
                                <mat-form-field appearance="fill">
                                <mat-label>Nº Cheque</mat-label>
                                <input
                                    matInput
                                    placeholder="Nº Cheque"
                                    formControlName="numCheque"
                                />
                                </mat-form-field>
                            </div>
                            <div class="col col-sm-12 col-md-2 col-lg-2">
                                <mat-form-field appearance="fill">
                                <mat-label>Nº Documento</mat-label>
                                <input
                                    matInput
                                    placeholder="Nº Documento"
                                    formControlName="numDoc"
                                />
                                </mat-form-field>
                            </div> 
                        </div>


                        <div class="row">
                            <div class="col col-sm-12 col-md-2 col-lg-2">
                                <mat-form-field appearance="fill">
                                <mat-label>Valor Mínimo</mat-label>
                                <input
                                    matInput
                                    placeholder="Valor Mínimo"
                                    formControlName="valorMin"
                                    currencyMask
                                    [options]="{ prefix: '', thousands: '.', decimal: ',' }"
                                />
                                </mat-form-field>
                            </div>
                            <div class="col col-sm-12 col-md-2 col-lg-2">
                                <mat-form-field appearance="fill">
                                <mat-label>Valor Máximo</mat-label>
                                <input
                                    matInput
                                    placeholder="Valor Máximo"
                                    formControlName="valorMax"
                                    currencyMask
                                    [options]="{ prefix: '', thousands: '.', decimal: ',' }"
                                />
                                </mat-form-field>
                            </div>
                            <div class="col col-sm-12 col-md-2 col-lg-2">
                                <mat-form-field appearance="fill">
                                <mat-label>Data de Inicial</mat-label>
                                <input
                                    matInput
                                    [matDatepicker]="pickerInicial"
                                    type="text"
                                    placeholder="Data de Inicial"
                                    formControlName="dataLancamentoDe"
                                />
                                <mat-datepicker-toggle
                                    matSuffix
                                    [for]="pickerInicial"
                                ></mat-datepicker-toggle>
                                <mat-datepicker #pickerInicial></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col col-sm-12 col-md-2 col-lg-2">
                                <mat-form-field appearance="fill">
                                <mat-label>Data de Final</mat-label>
                                <input
                                    matInput
                                    [matDatepicker]="pickerFinal"
                                    type="text"
                                    placeholder="Data de Final"
                                    formControlName="dataLancamentoAte"
                                />
                                <mat-datepicker-toggle
                                    matSuffix
                                    [for]="pickerFinal"
                                ></mat-datepicker-toggle>
                                <mat-datepicker #pickerFinal></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col col-sm-12 col-md-2 col-lg-2">
                                <mat-form-field appearance="fill">
                                <mat-label>Suprimento de Caixa?</mat-label>
                                <mat-select
                                    placeholder="Selecione uma opção"
                                    formControlName="supCaixa"
                                >
                                    <mat-option *ngFor="let option of supCaixa" [value]="option">
                                    {{ option }}
                                    </mat-option>
                                </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col col-sm-12 col-md-2 col-lg-2">
                                <mat-form-field appearance="fill">
                                <mat-label>Ano Exercício</mat-label>
                                <input
                                    matInput
                                    placeholder="Ano Exercício"
                                    formControlName="anoExercicio"
                                />
                                </mat-form-field>
                            </div>

                        </div>
                    
                        <mat-card-actions class="mt-3" align="end">                            

                            <button
                                type="submit"
                                class="header-button"
                                mat-raised-button
                                color="third"
                            >
                                <mat-icon>search</mat-icon>
                                Filtrar Lançamentos
                            </button>

                            <button
                                type="button"
                                class="header-button"
                                mat-raised-button
                                color="warn"
                                (click)="resetarFormulario()"
                            >
                                <mat-icon>clear</mat-icon>
                                Limpar Filtros
                            </button>
                            
                        </mat-card-actions>
                    </form>
                    </mat-card-content>       


                </mat-card>
        </mat-expansion-panel>
    </mat-accordion>
</div>
  
