<!-- <div class="row">
  <div class="col-8">
    <label class="btn btn-default p-0">
      <input type="file" (change)="selectFile($event)" />
    </label>
  </div>

  <div class="col-4">
    <button class="btn btn-success btn-sm" [disabled]="!selectedFiles" (click)="upload()">
      Upload
    </button>
  </div>
</div>

<div *ngIf="currentFile" class="progress my-3">
  <div
    class="progress-bar progress-bar-info progress-bar-striped"
    role="progressbar"
    attr.aria-valuenow="{{ progress }}"
    aria-valuemin="0"
    aria-valuemax="100"
    [ngStyle]="{ width: progress + '%' }"
  >
    {{ progress }}%
  </div>
</div>

<div *ngIf="message" class="alert alert-secondary" role="alert">{{ message }}</div> -->

<div class="card-body">

  <h5 class="header-title">Arquivos</h5>
  <h6 class="header-subtitle mb-1">Lista de registros de arquivos</h6>
</div>
 <!-- Inicio do Card de busca -->
<mat-card class="mb-3 mt-3">
  <mat-card-content class="toolbar-card-content">
    <div class="row mt-2">
      <div class="col col-lg-8 col-md-6 col-sm-12">
        <mat-form-field>
          <input matInput autocomplete="off" (keyup)="filterData($event)" placeholder="Busca" type="search" />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<!-- Fim do Card de busca -->
<div class="alert alert-warning" *ngIf="!carregando && totalElements == 0">
  <i class="fa-regular fa-circle-xmark"></i>
  <div class="icon hidden-xs">
    <i class="fa fa-exclamation-circle"></i>
  </div>
  <strong>Opps!</strong>
  <Br /> Nenhum registro encontrado para sua busca
</div>


<div class="table-container" *ngIf="totalElements > 0">
  <table mat-table
        [dataSource]="datasource" 
        matSort (matSortChange)="listarArquivos($event)"
        class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por Id">#</th>
      <td mat-cell *matCellDef="let file">{{ file.id }}</td>
    </ng-container>

    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef mat-sort-header >Nome</th>
      <td mat-cell *matCellDef="let file">
        {{ file.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="tipo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header >Tipo</th>
      <td mat-cell *matCellDef="let file">
        {{ file.type }}
      </td>
    </ng-container>
    
    <ng-container matColumnDef="actions" >
      <th mat-header-cell class="header-last-column" *matHeaderCellDef></th>
      <td mat-cell class="last-column" *matCellDef="let file" >
        <button *ngIf="perfil !== 'SINDICALIZADO' " (click)="onDelete(file)" mat-icon-button color="accent" aria-label="Excluir Arquivo">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator 
      [length]="totalElements"
      [showFirstLastButtons]="showFirstLastButtons"
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="nextPage($event)"
      >
  </mat-paginator>
</div>
