/* You can add global styles to this file, and also import other style files */
// If you want to override variables do it here
@import "variables";

$enable-ltr: true;
$enable-rtl: true;

// Import styles with default layout.
@import "@coreui/coreui/scss/coreui";

// Import Chart.js custom tooltips styles
@import "@coreui/chartjs/scss/coreui-chartjs";

// perfect scrollbar theming for use with [perfectScrollbar] directive
//@import '~perfect-scrollbar/css/perfect-scrollbar.css';

@import "layout";

// Some temp fixes
@import "fixes";

// Prism.js
@import "examples";

// If you want to add something do it here
@import "custom";




.page-container {
    padding: 0px 0px 0 0px;
}


.mat-toolbar.mat-primary {
    background-color: #1e376d;
    color: #f1f4f9;
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    background-color: #1e376d;
    padding: 2px 15px 2px 15px;
}

.mat-flat-button.mat-third, .mat-raised-button.mat-third, .mat-fab.mat-third, .mat-mini-fab.mat-third {
  background-color: #73cd74;
  color: #f1f4f9;
  padding: 2px 15px 2px 15px;
}

.sidebar-nav {
    margin-top: 5px;
}
  
.sidebar-brand-full {
    margin-left: -30px;
}
