<div class="page-container">
  <div class="card-body">
    <h5 class="header-title">Upload de Imagens e Documentos</h5>
    <h6 class="header-subtitle mb-1">
      Formulário de inclusão de imagens e documentos. Arquivos permitidos: JPG e
      PDF.
    </h6>
  </div>

  <mat-card class="mt-3">
    <div class="mt-3 mb-3">
      <input class="btn btn-primary" type="file" (change)="onChange($event)" />
    </div>
    <mat-divider></mat-divider>
    <mat-card-actions class="mb-3" align="end">
      <button
        id="btnEnviar"
        disabled="disabled"
        type="button"
        class="btn header-button btn-success file-text"
        (click)="submit()"
      >
        <mat-icon>attach_file</mat-icon>
        Enviar Imagem
      </button>
    </mat-card-actions>
  </mat-card>
</div>
